node_modules
.angular
dist
environment.ts
environment.development.ts
angular-spa/src/environments/environment.development.ts
easy-chat/src/environments/environment.dev.ts
easy-chat/src/environments/environment.prod.ts
easy-chat/src/environments/environment.e2e.ts
